<nav class="navbar">
    <div class="navbar-container">
        <!-- Remplacer le texte par une image -->
        <img src="assets/44.png" alt="Food Rescue Management" class="navbar-logo" />
        <br><br>
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a routerLink="/home" class="navbar-link">Home</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listrestaurant" class="navbar-link">Restaurants</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listfood" class="navbar-link">Foods</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listDirector" class="navbar-link">Directors</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listEvent" class="navbar-link">Collection Events</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listfeedback" class="navbar-link">Feedbacks</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listnotification" class="navbar-link">Notifications</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <span class="footer-text">Made with love by Cipher <span class="heart-icon">❤️</span></span>
        <span class="footer-text">Food Rescue</span>
    </div>
</footer>