<nav class="navbar">
    <div class="navbar-container">
        <h1 class="navbar-brand">Food Rescue Management</h1>
        <br><br>
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a routerLink="/listrestaurant" class="navbar-link">Restaurants</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listfood" class="navbar-link">Foods</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listDirector" class="navbar-link">Directors</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/listEvent" class="navbar-link">Collection Events</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
